Now Feature Engineering

Importing the Libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sn 
import random 
import time

random.seed(100)

The Dataset

In [2]:
dataset = pd.read_csv('P39-Financial-Data.csv')

In [3]:
dataset.columns

Index(['entry_id', 'age', 'pay_schedule', 'home_owner', 'income',
       'months_employed', 'years_employed', 'current_address_year',
       'personal_account_m', 'personal_account_y', 'has_debt',
       'amount_requested', 'risk_score', 'risk_score_2', 'risk_score_3',
       'risk_score_4', 'risk_score_5', 'ext_quality_score',
       'ext_quality_score_2', 'inquiries_last_month', 'e_signed'],
      dtype='object')

In [4]:
dataset.head()

,entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,7629673,40,bi-weekly,1,3135,0,3,3,6,2,...,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1
1,3560428,61,weekly,0,3180,0,6,3,2,7,...,600,30150,0.738510,0.881027,0.713423,0.826402,0.730720,0.630720,9,0
2,6934997,23,weekly,0,1540,6,0,0,7,1,...,450,34550,0.642993,0.766554,0.595018,0.762284,0.531712,0.531712,7,0
3,5682812,40,bi-weekly,0,5230,0,6,1,2,7,...,700,42150,0.665224,0.960832,0.767828,0.778831,0.792552,0.592552,8,1
4,5335819,33,semi-monthly,0,3590,0,5,2,2,8,...,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0

In [5]:
dataset.describe()

,entry_id,age,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
count,1.790800e+04,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000,17908.000000
mean,5.596978e+06,43.015412,0.425173,3657.214653,1.186006,3.526860,3.584711,3.427183,3.503350,0.795399,950.446449,61086.302211,0.690878,0.878276,0.583155,0.718252,0.623112,0.622068,6.457226,0.538251
std,2.562473e+06,11.873107,0.494383,1504.890063,2.400897,2.259732,2.751937,2.216440,1.955568,0.403421,698.543683,15394.255020,0.090470,0.054563,0.125061,0.120697,0.139729,0.139898,3.673093,0.498549
min,1.111398e+06,18.000000,0.000000,905.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,350.000000,2100.000000,0.023258,0.451371,0.016724,0.153367,0.010184,0.006622,1.000000,0.000000
25%,3.378999e+06,34.000000,0.000000,2580.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,600.000000,49350.000000,0.640993,0.850882,0.500208,0.633708,0.521735,0.519677,4.000000,0.000000
50%,5.608376e+06,42.000000,0.000000,3260.000000,0.000000,3.000000,3.000000,2.000000,3.000000,1.000000,700.000000,61200.000000,0.699561,0.881004,0.588208,0.725113,0.625944,0.622974,6.000000,1.000000
75%,7.805624e+06,51.000000,1.000000,4670.000000,1.000000,5.000000,5.000000,5.000000,4.000000,1.000000,1100.000000,72750.000000,0.752887,0.912608,0.672395,0.806681,0.729841,0.728940,8.000000,1.000000
max,9.999874e+06,96.000000,1.000000,9985.000000,11.000000,16.000000,12.000000,11.000000,15.000000,1.000000,10200.000000,99750.000000,0.999997,0.999024,0.978932,0.996260,0.970249,0.966953,30.000000,1.000000

Feature engineering

In [6]:
dataset = dataset.drop(columns=['months_employed'])

In [7]:
dataset['personal_account_months'] = (dataset.personal_account_m + (dataset.personal_account_y*12))
dataset[['personal_account_m','personal_account_y','personal_account_months']]

       personal_account_m  personal_account_y  personal_account_months
0                       6                   2                       30
1                       2                   7                       86
2                       7                   1                       19
3                       2                   7                       86
4                       2                   8                       98
...                   ...                 ...                      ...
17903                   2                   6                       74
17904                   3                   3                       39
17905                   1                   8                       97
17906                   6                   1                       18
17907                   4                   1                       16

[17908 rows x 3 columns]

In [8]:
dataset[['personal_account_m','personal_account_y','personal_account_months']].head()

   personal_account_m  personal_account_y  personal_account_months
0                   6                   2                       30
1                   2                   7                       86
2                   7                   1                       19
3                   2                   7                       86
4                   2                   8                       98

In [9]:
dataset.drop(columns=['personal_account_m','personal_account_y'])

,entry_id,age,pay_schedule,home_owner,income,years_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_account_months
0,7629673,40,bi-weekly,1,3135,3,3,1,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1,30
1,3560428,61,weekly,0,3180,6,3,1,600,30150,0.738510,0.881027,0.713423,0.826402,0.730720,0.630720,9,0,86
2,6934997,23,weekly,0,1540,0,0,1,450,34550,0.642993,0.766554,0.595018,0.762284,0.531712,0.531712,7,0,19
3,5682812,40,bi-weekly,0,5230,6,1,1,700,42150,0.665224,0.960832,0.767828,0.778831,0.792552,0.592552,8,1,86
4,5335819,33,semi-monthly,0,3590,5,2,1,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,9949728,31,monthly,0,3245,5,3,1,700,71700,0.691126,0.928196,0.664112,0.838012,0.727705,0.627705,2,0,74
17904,9442442,46,bi-weekly,0,6525,2,1,1,800,51800,0.648525,0.970832,0.699241,0.844724,0.774918,0.474918,3,0,39
17905,9857590,46,weekly,0,2685,5,1,1,1200,59650,0.677975,0.918141,0.687981,0.939101,0.472045,0.672045,9,0,97
17906,8708471,42,bi-weekly,0,2515,3,5,1,400,80200,0.642741,0.885684,0.456448,0.686823,0.406568,0.406568,3,1,18
17907,1498559,29,weekly,1,2665,4,10,1,600,64950,0.720889,0.874372,0.505565,0.631619,0.846163,0.846163,4,1,16

One Hot Encoding

In [10]:
dataset = pd.get_dummies(dataset)
dataset.columns

Index(['entry_id', 'age', 'home_owner', 'income', 'years_employed',
       'current_address_year', 'personal_account_m', 'personal_account_y',
       'has_debt', 'amount_requested', 'risk_score', 'risk_score_2',
       'risk_score_3', 'risk_score_4', 'risk_score_5', 'ext_quality_score',
       'ext_quality_score_2', 'inquiries_last_month', 'e_signed',
       'personal_account_months', 'pay_schedule_bi-weekly',
       'pay_schedule_monthly', 'pay_schedule_semi-monthly',
       'pay_schedule_weekly'],
      dtype='object')

In [11]:
dataset = dataset.drop(columns=['pay_schedule_semi-monthly'])

In [12]:
response = dataset["e_signed"]
users = dataset['entry_id']
dataset = dataset.drop(columns = ["e_signed","entry_id"])

In [13]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(dataset , response , test_size= 0.2, random_state=0 )

In [14]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train2 = pd.DataFrame(sc_X.fit_transform(X_train))
X_test2 = pd.DataFrame(sc_X.transform(X_test))
X_train2.columns = X_train.columns.values
X_test2.columns = X_test.columns.values
X_train2.index = X_train.index.values
X_test2.index = X_test.index.values
X_train = X_train2
X_test = X_test2

LogisticRegression

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0 , penalty='l2')
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

predicting test set

In [16]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score , f1_score, precision_score , recall_score
acc = accuracy_score(y_test,y_pred)
pre = precision_score(y_test,y_pred)
rec = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

In [17]:
pd.DataFrame([['Linear Regression (Lasso)',acc , pre, rec , f1]],columns=('Model', 'Accuracy' , 'Precision', 'Recall', 'F1 Score'))

                       Model  Accuracy  Precision    Recall  F1 Score
0  Linear Regression (Lasso)  0.570631    0.58312  0.709544   0.64015

SVM (Support Vector Machine) [Linear]

In [18]:
from sklearn.svm import SVC
classifier = SVC(random_state = 0 , kernel='linear')
classifier.fit(X_train, y_train)


y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score , f1_score, precision_score , recall_score
acc = accuracy_score(y_test,y_pred)
pre = precision_score(y_test,y_pred)
rec = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

In [19]:
pd.DataFrame([['SVM (Linear)',acc , pre, rec , f1]],columns=('Model', 'Accuracy' , 'Precision', 'Recall', 'F1 Score'))

          Model  Accuracy  Precision    Recall  F1 Score
0  SVM (Linear)  0.573423   0.583472  0.725104  0.646623

SVM [RBF]

In [20]:
from sklearn.svm import SVC
classifier = SVC(random_state = 0 , kernel='rbf')
classifier.fit(X_train, y_train)


y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score , f1_score, precision_score , recall_score
acc = accuracy_score(y_test,y_pred)
pre = precision_score(y_test,y_pred)
rec = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

In [21]:
pd.DataFrame([['SVM (rbf)',acc , pre, rec , f1]],columns=('Model', 'Accuracy' , 'Precision', 'Recall', 'F1 Score'))

       Model  Accuracy  Precision    Recall  F1 Score
0  SVM (rbf)  0.605528   0.618718  0.696058  0.655113

Random Forest [n=100]

In [22]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state = 0 , n_estimators = 100 , criterion = 'entropy')
classifier.fit(X_train, y_train)


y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix, accuracy_score , f1_score, precision_score , recall_score
acc = accuracy_score(y_test,y_pred)
pre = precision_score(y_test,y_pred)
rec = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)

In [23]:
pd.DataFrame([['Random Forest [n=100]',acc , pre, rec , f1]],columns=('Model', 'Accuracy' , 'Precision', 'Recall', 'F1 Score'))

                   Model  Accuracy  Precision   Recall  F1 Score
0  Random Forest [n=100]  0.638749   0.656004  0.69139  0.673232

K-Fold Cross Validate

In [24]:
from sklearn.model_selection import cross_val_score

accc = cross_val_score(estimator=classifier , X= X_train , y = y_train,cv=10)

print('K-Fold Cross Validation Random Forest Classifier Accuracy : %0.2f (+/- %0.2f)'% (accc.mean(), accc.std()*2))

K-Fold Cross Validation Random Forest Classifier Accuracy : 0.63 (+/- 0.02)

Apply grid search

In [25]:
parameters = {"max_depth": [3, None],"max_features": [1, 5, 10],'min_samples_split': [2, 5, 10],'min_samples_leaf': [1, 5, 10],"bootstrap": [True, False],"criterion": ["entropy"]}

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = classifier,param_grid = parameters,scoring = "accuracy",cv = 10,n_jobs = -1)

t0 = time.time()
grid_search = grid_search.fit(X_train, y_train)
t1 = time.time()
print("Took %0.2f seconds" % (t1 - t0))

rf_best_accuracy = grid_search.best_score_
rf_best_parameters = grid_search.best_params_
rf_best_accuracy, rf_best_parameters

In [ ]:
parameters = {"max_depth": [None],"max_features": [3, 5, 7],'min_samples_split': [8, 10, 12],'min_samples_leaf': [1, 2, 3],"bootstrap": [True],"criterion": ["entropy"]}

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = classifier, param_grid = parameters,scoring = "accuracy",cv = 10,n_jobs = -1)
t0 = time.time()
grid_search = grid_search.fit(X_train, y_train)
t1 = time.time()
print("Took %0.2f seconds" % (t1 - t0))

rf_best_accuracy = grid_search.best_score_
rf_best_parameters = grid_search.best_params_
rf_best_accuracy, rf_best_parameters

Predicting the test results

In [ ]:
y_pred = grid_search.predict(X_test)
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['Random Forest (n=100, GSx2 + Entropy)', acc, prec, rec, f1]],columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])

In [ ]:
parameters = {"max_depth": [3, None],"max_features": [1, 5, 10],'min_samples_split': [2, 5, 10],'min_samples_leaf': [1, 5, 10],"bootstrap": [True, False],"criterion": ["gini"]}

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = classifier,param_grid = parameters,scoring = "accuracy",cv = 10,n_jobs = -1)

t0 = time.time()
grid_search = grid_search.fit(X_train, y_train)
t1 = time.time()
print("Took %0.2f seconds" % (t1 - t0))

rf_best_accuracy = grid_search.best_score_
rf_best_parameters = grid_search.best_params_
rf_best_accuracy, rf_best_parameters

In [ ]:
parameters = {"max_depth": [None],"max_features": [8, 10, 12],'min_samples_split': [2, 3, 4],'min_samples_leaf': [8, 10, 12],"bootstrap": [True],"criterion": ["gini"]}

from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator = classifier,param_grid = parameters, scoring = "accuracy", cv = 10, n_jobs = -1)

t0 = time.time()
grid_search = grid_search.fit(X_train, y_train)
t1 = time.time()
print("Took %0.2f seconds" % (t1 - t0))

rf_best_accuracy = grid_search.best_score_
rf_best_parameters = grid_search.best_params_
rf_best_accuracy, rf_best_parameters

Predicting the results

In [ ]:
y_pred = grid_search.predict(X_test)
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['Random Forest (n=100, GSx2 + Gini)', acc, prec, rec, f1]],columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])